@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Foodنa</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="~/css/templatemo-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="logo.ico">
    @* Responsive CSS*@
    <link rel="stylesheet" href="css/responsive.css">
    @*Custom CSS*@
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>
    <header>
        <nav class="d-flex  sticky-top navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow" style="border-top: 5px solid #ffc107;
    ">
            <div class="row">
                <a class="navbar-brand font-weight-bold ml-5" asp-area="" asp-controller="Home" asp-action="Index"><img class="mx-2" src="~/images/simple-house-logo.png" />Foodنa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse  collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Restaurants" asp-action="Index">Restaurants</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reviews" asp-action="Index">Reviews</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item mr-5">
                                <a class="nav-link" asp-controller="Admin" asp-action="ListRoles">
                                    Manage Roles
                                </a>
                            </li>
                        }

                        <partial name="_LoginPartial" />


                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="text-center">



        <div class="copyright text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="company-name text-warning">
                            All Rights Reserved. &copy; <a href="#" class="text-dark"> 2021 - Foodنa -</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </footer>
    <!-- End Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/imageName.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script>
        $(document).ready(function () {
            // Handle click on paging links
            $('.tm-paging-link').click(function (e) {
                e.preventDefault();

                var page = $(this).text().toLowerCase();
                $('.tm-gallery-page').addClass('hidden');
                $('#tm-gallery-page-' + page).removeClass('hidden');
                $('.tm-paging-link').removeClass('active');
                $(this).addClass("active");
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
