@model RestaurantProject.Models.OrderItem

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1>Edit</h1>

    <h4>OrderItem</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="OrderItemID" />
                <div class="form-group">
                    <label asp-for="CategoryItemID" class="control-label"></label>
                    <select asp-for="CategoryItemID" class="form-control" asp-items="ViewBag.CategoryItemID"></select>
                    <span asp-validation-for="CategoryItemID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Units" class="control-label"></label>
                    <input asp-for="Units" class="form-control" />
                    <span asp-validation-for="Units" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


