@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<input type="button" onclick="alert('Added')" value="test add user"/>
<script>
    function alertMe() {

    }
</script>