@model RestaurantProject.ViewModels.RestaurantViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container mx-3">
    <h1>Create</h1>

    <h4>Restaurant</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form enctype="multipart/form-data" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Describtion" class="control-label"></label>
                    <input asp-for="Describtion" class="form-control" />
                    <span asp-validation-for="Describtion" class="text-danger"></span>
                </div>
                @*  asp-for tag helper is set to "Photo" property. "Photo" property type is IFormFile
                    so at runtime asp.net core generates file upload control (input type=file)
                *@

                <div class="form-group row">
                    <label asp-for="Image" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="Image" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-warning" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="text-warning" asp-action="Index">Back to List</a>
    </div>


</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
